<div class="home">
    <div class="home-div">
        <div class="twit-img"><img src="../assets/Images/twitter.png" style="width:100%; height:100%"></div>
        <div class="twitter">
            <div class="logo"><img src="../assets/Images/download.jpg" style="width: 50px; height: 50px;"></div>
            <div class="twit-head"><h1 style="font-size: 4rem;"><strong>Happening Now</strong> </h1></div>
            <div class="join"><h1>Join Twitter Today.</h1></div>
            <button type="button" class="google btn btn-success">Sign up with Google</button>
            <button type="button" class="apple btn btn-success">Sign up with Apple</button>
            <h4 style="padding-left: 35%;">or</h4>
            <button type="button" class="signup btn btn-primary btn-lg" (click)="signup()">Sign up with a phone number or email id</button>
            <div class="accnt"><strong>Already have an account?</strong></div>
            <button (click)="signin()" type="button" class="signin btn btn-light">Sign in</button>
        </div>
        
        
    </div>

</div>
