.err{
  color:red;
}
/*.main
{
    background-color: grey;
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0;
}
.div1
{
    
    border: 5px solid gray ;
    border-radius: 5%;
    background: white;
    width: 35%;
    height: 70%;
    margin: auto;
    padding-top: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.div2
{
    top: -10px;
}
.img2
{
    display: block;
margin-left: auto;
margin-right: auto;
width: 40px;
height: 40px;


}

.img1
{
    width:20px;
    height: 20px;
    left: 0;
    top: 0;
}
.close
{
    left: 0;
    width: 30px;
    height: 30px;
    float:left;
    margin-left:10px;
    margin-top:-10px;
}
.divform
{
width: 80%;
left: 20px;
margin:auto;


margin-top: 20px;
}
.googlediv
{
 width:80%;
 height:30px;
 border:1px solid grey;
 border-radius:25px;
 margin:auto;
 text-align:center;
 padding-bottom:5px;
 font-family:Arial;
}
.divform1
{
    padding-top:30px;
    margin-left:0;
    margin-right:0;
    display:block;
}
.google-btn {
    width: 75%;
    height: 42px;
    
    border-radius: 20px;
border:1px solid grey;
margin:auto;
   
}

    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
     
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 35px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: left;
      margin: 11px 11px 0 70px;
      color: grey;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: Arial;
      
    }
    .apple-sign-in {
        
        
        width: 75%;
    height: 42px;
   
    border-radius: 20px;
border:1px solid gray;
margin:auto;
margin-top:10px;
   
            
        
        
      }
      .apple-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: -10px;
        width: 25px;
        height: 18px;
      }
      .apple-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 50px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
       
      }
      .apple-text {
        float: left;
        margin: 11px 11px 0 70px;
        color: grey;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: Arial;
       
      }
      #button
      {
          width: 700px;
          height:42px;
      }
      .hr
      {
        width:30%;
        border:1px solid grey;
        margin-top:15px;
        float:left;
        margin-left:50px;
      }
      .or
      {
        float:left;
        margin-left:10px;
        margin-top:0px;
        margin-right:10px;
      }
      .hr1
      {
        width:30%;
        border:1px solid grey;
        margin-top:15px;
        float:left;
        
      }
      .mailid
      {
        width:75%;
        height:40px;
        margin:auto;
        border-radius:5px;
        
        margin-left:45px;
        
      }
      #pwd
      {
        width:75%;
        height:40px;
        margin:auto;
        border-radius:5px;
        
        margin-left:45px;
         
      }
      #button
      {
        width: 100px;
      }
*/



.err{
  color:red;
}
  .main
{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
   border: 1px solid gray;
   border-radius: 20px;
    width: 700px;
    height: auto;
    background-color: white;
}
.btn-close
{
    width: auto;
    padding-left: 50px;
    padding-top: 20px;
    border:none;
    background-color: white;
    border-radius: 20px;
}
.btn-close:focus
{
  outline: 0px;
  box-shadow: none;
}
.icon{
    padding-left: 40%;
    padding-top: 10px;
}
.icon-div
{
    display: flex;
}
.head
{
    margin-top: 20px;
}
th
{
    padding-left: 18%;
    size: 50px;
}
table{
    border-collapse: separate;
    border-spacing:0 15px;
}
.google
{
    width: 75%;
    border-radius: 20px;
    height: 50px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    font-size: 20px;
   
}
.google:hover
{
    background-color: rgba(153, 218, 223, 0.486);
}
.apple
{
    width: 75%;
    border-radius: 20px;
    height: 50px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    font-size: 20px;
}
.apple:hover{
  background-color: rgb(222, 217, 233);
}
.next
{
    width: 75%;
    border-radius: 20px;
    height: 50px;
    
   
    border: 1px solid gray;
}
.div-form
{
    padding-left: 18%;  
}
.uname
{
    width: 75%;
    border-radius: 8px;
    height: 50px;
}
.pwd
{
    width: 75%;
      border-radius: 8px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.close{
  border: none;
}
.close:hover{
  border: none;
}

.forgot
{
    
    width: 75%;
    border-radius: 20px;
    height: 50px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    margin-top: 15px;
    font-size: 20px;
}
.forgot:hover{
  background-color: rgb(222, 217, 233);
}

.div-signup
{
    display: flex;
    padding-left: 18%;
    margin-top: 30px;
    padding-bottom: 40px;
}
h5{
    margin-right: 10px;
}
