<div class="main">
    <div class="icon-div">
        <button type="button" class="close btn-close" aria-label="Close" mat-dialog-close></button>
        <div class="icon" ><img src="../assets/Images/download.jpg" style="width: 30px; height: 30px; "></div>
      </div>
      <div class="head">
        <table style="width: 100%;">
            <tr>
                <th><h2>Create your account</h2></th>
            </tr>
        </table>
        <div class="div-form">
        <form>
            <input  type="text" class="form-control" placeholder="Name">
            <input mdbInput type="text" class="form-control" placeholder="Phone">
            <label>Date of birth</label>
           
        </form>
    </div>
      </div>
</div>
